set_location ballXVel_RNIFI1J4[0] 7 7 7 # SB_LUT4 (LogicCell: ballXVel_RNIFI1J4[0]_LC_0)
set_location ballXVel_RNIFI1J4_0[0] 7 7 6 # SB_LUT4 (LogicCell: ballXVel_RNIFI1J4_0[0]_LC_1)
set_location ballXVel_RNO[0] 7 7 5 # SB_LUT4 (LogicCell: ballXVel[0]_LC_2)
set_location ballXVel[0] 7 7 5 # SB_DFF (LogicCell: ballXVel[0]_LC_2)
set_location ballXVel_RNO_0[0] 7 7 4 # SB_LUT4 (LogicCell: ballXVel_RNO_0[0]_LC_3)
set_location ballX_RNI38OK[0] 11 7 1 # SB_LUT4 (LogicCell: ballX_RNI38OK[0]_LC_4)
set_location ballX_RNICMG91[1] 11 7 0 # SB_LUT4 (LogicCell: ballX_RNICMG91[1]_LC_5)
set_location ballX_RNIOC1J2[3] 11 8 4 # SB_LUT4 (LogicCell: ballX_RNIOC1J2[3]_LC_6)
set_location ballX_RNO[0] 7 7 0 # SB_LUT4 (LogicCell: ballX[0]_LC_7)
set_location ballX[0] 7 7 0 # SB_DFF (LogicCell: ballX[0]_LC_7)
set_location un1_ballX_3_cry_0_c 7 7 0 # SB_CARRY (LogicCell: ballX[0]_LC_7)
set_location ballX_RNO[1] 7 7 1 # SB_LUT4 (LogicCell: ballX[1]_LC_8)
set_location ballX[1] 7 7 1 # SB_DFF (LogicCell: ballX[1]_LC_8)
set_location un1_ballX_3_cry_1_0_c 7 7 1 # SB_CARRY (LogicCell: ballX[1]_LC_8)
set_location ballX_RNO[2] 7 7 2 # SB_LUT4 (LogicCell: ballX[2]_LC_9)
set_location ballX[2] 7 7 2 # SB_DFF (LogicCell: ballX[2]_LC_9)
set_location un1_ballX_3_cry_2_0_c 7 7 2 # SB_CARRY (LogicCell: ballX[2]_LC_9)
set_location ballX_RNO[3] 7 7 3 # SB_LUT4 (LogicCell: ballX[3]_LC_10)
set_location ballX[3] 7 7 3 # SB_DFF (LogicCell: ballX[3]_LC_10)
set_location ballYVel_RNIGOGN4[0] 7 6 7 # SB_LUT4 (LogicCell: ballYVel_RNIGOGN4[0]_LC_11)
set_location ballYVel_RNIGOGN4_0[0] 7 6 5 # SB_LUT4 (LogicCell: ballYVel_RNIGOGN4_0[0]_LC_12)
set_location ballYVel_RNO[0] 8 6 6 # SB_LUT4 (LogicCell: ballYVel[0]_LC_13)
set_location ballYVel[0] 8 6 6 # SB_DFF (LogicCell: ballYVel[0]_LC_13)
set_location ballYVel_RNO_0[0] 8 6 5 # SB_LUT4 (LogicCell: ballYVel_RNO_0[0]_LC_14)
set_location ballY_RNIE1E41[3] 8 6 7 # SB_LUT4 (LogicCell: ballY_RNIE1E41[3]_LC_15)
set_location ballY_RNIIR6I[0] 8 6 0 # SB_LUT4 (LogicCell: ballY_RNIIR6I[0]_LC_16)
set_location un1_vIndex_2_cry_0_c 8 6 0 # SB_CARRY (LogicCell: ballY_RNIIR6I[0]_LC_16)
set_location ballY_RNIKQR82[1] 8 5 3 # SB_LUT4 (LogicCell: ballY_RNIKQR82[1]_LC_17)
set_location ballY_RNO[0] 7 6 0 # SB_LUT4 (LogicCell: ballY[0]_LC_18)
set_location ballY[0] 7 6 0 # SB_DFF (LogicCell: ballY[0]_LC_18)
set_location un1_ballY_4_cry_0_c 7 6 0 # SB_CARRY (LogicCell: ballY[0]_LC_18)
set_location ballY_RNO[1] 7 6 1 # SB_LUT4 (LogicCell: ballY[1]_LC_19)
set_location ballY[1] 7 6 1 # SB_DFF (LogicCell: ballY[1]_LC_19)
set_location un1_ballY_4_cry_1_0_c 7 6 1 # SB_CARRY (LogicCell: ballY[1]_LC_19)
set_location ballY_RNO[2] 7 6 2 # SB_LUT4 (LogicCell: ballY[2]_LC_20)
set_location ballY[2] 7 6 2 # SB_DFF (LogicCell: ballY[2]_LC_20)
set_location un1_ballY_4_cry_2_0_c 7 6 2 # SB_CARRY (LogicCell: ballY[2]_LC_20)
set_location ballY_RNO[3] 7 6 3 # SB_LUT4 (LogicCell: ballY[3]_LC_21)
set_location ballY[3] 7 6 3 # SB_DFF (LogicCell: ballY[3]_LC_21)
set_location ctr_RNI05AM[18] 8 7 3 # SB_LUT4 (LogicCell: ctr_RNI05AM[18]_LC_22)
set_location ctr_RNID5D94[3] 8 7 5 # SB_LUT4 (LogicCell: ctr_RNID5D94[3]_LC_23)
set_location ctr_RNIDIAM[7] 8 7 0 # SB_LUT4 (LogicCell: ctr_RNIDIAM[7]_LC_24)
set_location ctr_RNIIQEC1[11] 8 8 0 # SB_LUT4 (LogicCell: ctr_RNIIQEC1[11]_LC_25)
set_location ctr_RNIM4UE[3] 8 7 2 # SB_LUT4 (LogicCell: ctr_RNIM4UE[3]_LC_26)
set_location ctr_RNIOJLN1[15] 8 7 4 # SB_LUT4 (LogicCell: ctr_RNIOJLN1[15]_LC_27)
set_location ctr_RNO[0] 9 7 0 # SB_LUT4 (LogicCell: ctr[0]_LC_28)
set_location ctr[0] 9 7 0 # SB_DFF (LogicCell: ctr[0]_LC_28)
set_location ctr_cry_c[0] 9 7 0 # SB_CARRY (LogicCell: ctr[0]_LC_28)
set_location ctr_RNO[1] 9 7 1 # SB_LUT4 (LogicCell: ctr[1]_LC_29)
set_location ctr[1] 9 7 1 # SB_DFF (LogicCell: ctr[1]_LC_29)
set_location ctr_cry_c[1] 9 7 1 # SB_CARRY (LogicCell: ctr[1]_LC_29)
set_location ctr_RNO[10] 9 8 2 # SB_LUT4 (LogicCell: ctr[10]_LC_30)
set_location ctr[10] 9 8 2 # SB_DFF (LogicCell: ctr[10]_LC_30)
set_location ctr_cry_c[10] 9 8 2 # SB_CARRY (LogicCell: ctr[10]_LC_30)
set_location ctr_RNO[11] 9 8 3 # SB_LUT4 (LogicCell: ctr[11]_LC_31)
set_location ctr[11] 9 8 3 # SB_DFF (LogicCell: ctr[11]_LC_31)
set_location ctr_cry_c[11] 9 8 3 # SB_CARRY (LogicCell: ctr[11]_LC_31)
set_location ctr_RNO[12] 9 8 4 # SB_LUT4 (LogicCell: ctr[12]_LC_32)
set_location ctr[12] 9 8 4 # SB_DFF (LogicCell: ctr[12]_LC_32)
set_location ctr_cry_c[12] 9 8 4 # SB_CARRY (LogicCell: ctr[12]_LC_32)
set_location ctr_RNO[13] 9 8 5 # SB_LUT4 (LogicCell: ctr[13]_LC_33)
set_location ctr[13] 9 8 5 # SB_DFF (LogicCell: ctr[13]_LC_33)
set_location ctr_cry_c[13] 9 8 5 # SB_CARRY (LogicCell: ctr[13]_LC_33)
set_location ctr_RNO[14] 9 8 6 # SB_LUT4 (LogicCell: ctr[14]_LC_34)
set_location ctr[14] 9 8 6 # SB_DFF (LogicCell: ctr[14]_LC_34)
set_location ctr_cry_c[14] 9 8 6 # SB_CARRY (LogicCell: ctr[14]_LC_34)
set_location ctr_RNO[15] 9 8 7 # SB_LUT4 (LogicCell: ctr[15]_LC_35)
set_location ctr[15] 9 8 7 # SB_DFF (LogicCell: ctr[15]_LC_35)
set_location ctr_cry_c[15] 9 8 7 # SB_CARRY (LogicCell: ctr[15]_LC_35)
set_location ctr_RNO[16] 9 9 0 # SB_LUT4 (LogicCell: ctr[16]_LC_36)
set_location ctr[16] 9 9 0 # SB_DFF (LogicCell: ctr[16]_LC_36)
set_location ctr_cry_c[16] 9 9 0 # SB_CARRY (LogicCell: ctr[16]_LC_36)
set_location ctr_RNO[17] 9 9 1 # SB_LUT4 (LogicCell: ctr[17]_LC_37)
set_location ctr[17] 9 9 1 # SB_DFF (LogicCell: ctr[17]_LC_37)
set_location ctr_cry_c[17] 9 9 1 # SB_CARRY (LogicCell: ctr[17]_LC_37)
set_location ctr_RNO[18] 9 9 2 # SB_LUT4 (LogicCell: ctr[18]_LC_38)
set_location ctr[18] 9 9 2 # SB_DFF (LogicCell: ctr[18]_LC_38)
set_location ctr_RNO[2] 9 7 2 # SB_LUT4 (LogicCell: ctr[2]_LC_39)
set_location ctr[2] 9 7 2 # SB_DFF (LogicCell: ctr[2]_LC_39)
set_location ctr_cry_c[2] 9 7 2 # SB_CARRY (LogicCell: ctr[2]_LC_39)
set_location ctr_RNO[3] 9 7 3 # SB_LUT4 (LogicCell: ctr[3]_LC_40)
set_location ctr[3] 9 7 3 # SB_DFF (LogicCell: ctr[3]_LC_40)
set_location ctr_cry_c[3] 9 7 3 # SB_CARRY (LogicCell: ctr[3]_LC_40)
set_location ctr_RNO[4] 9 7 4 # SB_LUT4 (LogicCell: ctr[4]_LC_41)
set_location ctr[4] 9 7 4 # SB_DFF (LogicCell: ctr[4]_LC_41)
set_location ctr_cry_c[4] 9 7 4 # SB_CARRY (LogicCell: ctr[4]_LC_41)
set_location ctr_RNO[5] 9 7 5 # SB_LUT4 (LogicCell: ctr[5]_LC_42)
set_location ctr[5] 9 7 5 # SB_DFF (LogicCell: ctr[5]_LC_42)
set_location ctr_cry_c[5] 9 7 5 # SB_CARRY (LogicCell: ctr[5]_LC_42)
set_location ctr_RNO[6] 9 7 6 # SB_LUT4 (LogicCell: ctr[6]_LC_43)
set_location ctr[6] 9 7 6 # SB_DFF (LogicCell: ctr[6]_LC_43)
set_location ctr_cry_c[6] 9 7 6 # SB_CARRY (LogicCell: ctr[6]_LC_43)
set_location ctr_RNO[7] 9 7 7 # SB_LUT4 (LogicCell: ctr[7]_LC_44)
set_location ctr[7] 9 7 7 # SB_DFF (LogicCell: ctr[7]_LC_44)
set_location ctr_cry_c[7] 9 7 7 # SB_CARRY (LogicCell: ctr[7]_LC_44)
set_location ctr_RNO[8] 9 8 0 # SB_LUT4 (LogicCell: ctr[8]_LC_45)
set_location ctr[8] 9 8 0 # SB_DFF (LogicCell: ctr[8]_LC_45)
set_location ctr_cry_c[8] 9 8 0 # SB_CARRY (LogicCell: ctr[8]_LC_45)
set_location ctr_RNO[9] 9 8 1 # SB_LUT4 (LogicCell: ctr[9]_LC_46)
set_location ctr[9] 9 8 1 # SB_DFF (LogicCell: ctr[9]_LC_46)
set_location ctr_cry_c[9] 9 8 1 # SB_CARRY (LogicCell: ctr[9]_LC_46)
set_location hIndex_RNI6JO41[1] 9 6 1 # SB_LUT4 (LogicCell: hIndex_RNI6JO41[1]_LC_47)
set_location hIndex_RNIJ9CI[1] 11 6 0 # SB_LUT4 (LogicCell: hIndex_RNIJ9CI[1]_LC_48)
set_location hIndex_RNO[0] 11 6 1 # SB_LUT4 (LogicCell: hIndex[0]_LC_49)
set_location hIndex[0] 11 6 1 # SB_DFF (LogicCell: hIndex[0]_LC_49)
set_location hIndex_RNO[1] 11 6 2 # SB_LUT4 (LogicCell: hIndex[1]_LC_50)
set_location hIndex[1] 11 6 2 # SB_DFF (LogicCell: hIndex[1]_LC_50)
set_location hIndex_RNO[2] 11 6 4 # SB_LUT4 (LogicCell: hIndex[2]_LC_51)
set_location hIndex[2] 11 6 4 # SB_DFF (LogicCell: hIndex[2]_LC_51)
set_location hIndex_RNO[3] 11 6 3 # SB_LUT4 (LogicCell: hIndex[3]_LC_52)
set_location hIndex[3] 11 6 3 # SB_DFF (LogicCell: hIndex[3]_LC_52)
set_location p_hLED_cl_10_i_RNO[0] 12 9 0 # SB_LUT4 (LogicCell: p_hLED_cl_10_i[0]_LC_53)
set_location p_hLED_cl_10_i[0] 12 9 0 # SB_DFFE (LogicCell: p_hLED_cl_10_i[0]_LC_53)
set_location p_hLED_cl_12_i_RNO[0] 11 9 6 # SB_LUT4 (LogicCell: p_hLED_cl_12_i[0]_LC_54)
set_location p_hLED_cl_12_i[0] 11 9 6 # SB_DFFE (LogicCell: p_hLED_cl_12_i[0]_LC_54)
set_location p_hLED_cl_13_i_RNO[0] 12 9 7 # SB_LUT4 (LogicCell: p_hLED_cl_13_i[0]_LC_55)
set_location p_hLED_cl_13_i[0] 12 9 7 # SB_DFFE (LogicCell: p_hLED_cl_13_i[0]_LC_55)
set_location p_hLED_cl_14_i_RNO[0] 12 7 6 # SB_LUT4 (LogicCell: p_hLED_cl_14_i[0]_LC_56)
set_location p_hLED_cl_14_i[0] 12 7 6 # SB_DFFE (LogicCell: p_hLED_cl_14_i[0]_LC_56)
set_location p_hLED_cl_1_i_RNO[0] 12 7 4 # SB_LUT4 (LogicCell: p_hLED_cl_1_i[0]_LC_57)
set_location p_hLED_cl_1_i[0] 12 7 4 # SB_DFFE (LogicCell: p_hLED_cl_1_i[0]_LC_57)
set_location p_hLED_cl_2_i_RNO[0] 12 7 3 # SB_LUT4 (LogicCell: p_hLED_cl_2_i[0]_LC_58)
set_location p_hLED_cl_2_i[0] 12 7 3 # SB_DFFE (LogicCell: p_hLED_cl_2_i[0]_LC_58)
set_location p_hLED_cl_3_i_RNO[0] 12 9 3 # SB_LUT4 (LogicCell: p_hLED_cl_3_i[0]_LC_59)
set_location p_hLED_cl_3_i[0] 12 9 3 # SB_DFFE (LogicCell: p_hLED_cl_3_i[0]_LC_59)
set_location p_hLED_cl_4_i_RNO[0] 11 9 2 # SB_LUT4 (LogicCell: p_hLED_cl_4_i[0]_LC_60)
set_location p_hLED_cl_4_i[0] 11 9 2 # SB_DFFE (LogicCell: p_hLED_cl_4_i[0]_LC_60)
set_location p_hLED_cl_5_i_RNO[0] 12 9 6 # SB_LUT4 (LogicCell: p_hLED_cl_5_i[0]_LC_61)
set_location p_hLED_cl_5_i[0] 12 9 6 # SB_DFFE (LogicCell: p_hLED_cl_5_i[0]_LC_61)
set_location p_hLED_cl_6_i_RNO[0] 11 9 0 # SB_LUT4 (LogicCell: p_hLED_cl_6_i[0]_LC_62)
set_location p_hLED_cl_6_i[0] 11 9 0 # SB_DFFE (LogicCell: p_hLED_cl_6_i[0]_LC_62)
set_location p_hLED_cl_7_i_RNO[0] 12 7 1 # SB_LUT4 (LogicCell: p_hLED_cl_7_i[0]_LC_63)
set_location p_hLED_cl_7_i[0] 12 7 1 # SB_DFFE (LogicCell: p_hLED_cl_7_i[0]_LC_63)
set_location p_hLED_cl_8_i_RNO[0] 11 9 7 # SB_LUT4 (LogicCell: p_hLED_cl_8_i[0]_LC_64)
set_location p_hLED_cl_8_i[0] 11 9 7 # SB_DFFE (LogicCell: p_hLED_cl_8_i[0]_LC_64)
set_location p_hLED_cl_9_i_RNO[0] 12 9 1 # SB_LUT4 (LogicCell: p_hLED_cl_9_i[0]_LC_65)
set_location p_hLED_cl_9_i[0] 12 9 1 # SB_DFFE (LogicCell: p_hLED_cl_9_i[0]_LC_65)
set_location p_hLED_cl_i_RNO[0] 12 7 2 # SB_LUT4 (LogicCell: p_hLED_cl_i[0]_LC_66)
set_location p_hLED_cl_i[0] 12 7 2 # SB_DFFE (LogicCell: p_hLED_cl_i[0]_LC_66)
set_location p_hLED_obuft_RNO[0] 12 8 0 # SB_LUT4 (LogicCell: p_hLED_obuft_RNO[0]_LC_67)
set_location p_hLED_obuft_RNO[1] 12 8 4 # SB_LUT4 (LogicCell: p_hLED_obuft_RNO[1]_LC_68)
set_location p_hLED_obuft_RNO[10] 12 10 4 # SB_LUT4 (LogicCell: p_hLED_obuft_RNO[10]_LC_69)
set_location p_hLED_obuft_RNO[11] 12 10 7 # SB_LUT4 (LogicCell: p_hLED_obuft_RNO[11]_LC_70)
set_location p_hLED_obuft_RNO[12] 12 11 1 # SB_LUT4 (LogicCell: p_hLED_obuft_RNO[12]_LC_71)
set_location p_hLED_obuft_RNO[13] 12 15 0 # SB_LUT4 (LogicCell: p_hLED_obuft_RNO[13]_LC_72)
set_location p_hLED_obuft_RNO[14] 12 13 0 # SB_LUT4 (LogicCell: p_hLED_obuft_RNO[14]_LC_73)
set_location p_hLED_obuft_RNO[2] 12 8 2 # SB_LUT4 (LogicCell: p_hLED_obuft_RNO[2]_LC_74)
set_location p_hLED_obuft_RNO[3] 12 8 7 # SB_LUT4 (LogicCell: p_hLED_obuft_RNO[3]_LC_75)
set_location p_hLED_obuft_RNO[4] 11 8 5 # SB_LUT4 (LogicCell: p_hLED_obuft_RNO[4]_LC_76)
set_location p_hLED_obuft_RNO[5] 12 10 5 # SB_LUT4 (LogicCell: p_hLED_obuft_RNO[5]_LC_77)
set_location p_hLED_obuft_RNO[6] 11 2 1 # SB_LUT4 (LogicCell: p_hLED_obuft_RNO[6]_LC_78)
set_location p_hLED_obuft_RNO[7] 12 12 4 # SB_LUT4 (LogicCell: p_hLED_obuft_RNO[7]_LC_79)
set_location p_hLED_obuft_RNO[8] 12 4 5 # SB_LUT4 (LogicCell: p_hLED_obuft_RNO[8]_LC_80)
set_location p_hLED_obuft_RNO[9] 12 13 5 # SB_LUT4 (LogicCell: p_hLED_obuft_RNO[9]_LC_81)
set_location p_vLED_cl_1_i_RNO[0] 9 5 1 # SB_LUT4 (LogicCell: p_vLED_cl_1_i[0]_LC_82)
set_location p_vLED_cl_1_i[0] 9 5 1 # SB_DFFE (LogicCell: p_vLED_cl_1_i[0]_LC_82)
set_location p_vLED_cl_2_i_RNO[0] 9 4 5 # SB_LUT4 (LogicCell: p_vLED_cl_2_i[0]_LC_83)
set_location p_vLED_cl_2_i[0] 9 4 5 # SB_DFFE (LogicCell: p_vLED_cl_2_i[0]_LC_83)
set_location p_vLED_cl_3_i_RNO[0] 9 5 6 # SB_LUT4 (LogicCell: p_vLED_cl_3_i[0]_LC_84)
set_location p_vLED_cl_3_i[0] 9 5 6 # SB_DFFE (LogicCell: p_vLED_cl_3_i[0]_LC_84)
set_location p_vLED_cl_4_i_RNO[0] 9 4 1 # SB_LUT4 (LogicCell: p_vLED_cl_4_i[0]_LC_85)
set_location p_vLED_cl_4_i[0] 9 4 1 # SB_DFFE (LogicCell: p_vLED_cl_4_i[0]_LC_85)
set_location p_vLED_cl_5_i_RNO[0] 9 5 4 # SB_LUT4 (LogicCell: p_vLED_cl_5_i[0]_LC_86)
set_location p_vLED_cl_5_i[0] 9 5 4 # SB_DFFE (LogicCell: p_vLED_cl_5_i[0]_LC_86)
set_location p_vLED_cl_6_i_RNO[0] 9 4 7 # SB_LUT4 (LogicCell: p_vLED_cl_6_i[0]_LC_87)
set_location p_vLED_cl_6_i[0] 9 4 7 # SB_DFFE (LogicCell: p_vLED_cl_6_i[0]_LC_87)
set_location p_vLED_cl_7_i_RNO[0] 9 4 4 # SB_LUT4 (LogicCell: p_vLED_cl_7_i[0]_LC_88)
set_location p_vLED_cl_7_i[0] 9 4 4 # SB_DFFE (LogicCell: p_vLED_cl_7_i[0]_LC_88)
set_location p_vLED_cl_8_i_RNO[0] 9 4 6 # SB_LUT4 (LogicCell: p_vLED_cl_8_i[0]_LC_89)
set_location p_vLED_cl_8_i[0] 9 4 6 # SB_DFFE (LogicCell: p_vLED_cl_8_i[0]_LC_89)
set_location p_vLED_cl_9_i_RNO[0] 9 5 3 # SB_LUT4 (LogicCell: p_vLED_cl_9_i[0]_LC_90)
set_location p_vLED_cl_9_i[0] 9 5 3 # SB_DFFE (LogicCell: p_vLED_cl_9_i[0]_LC_90)
set_location p_vLED_cl_i_RNO[0] 9 4 2 # SB_LUT4 (LogicCell: p_vLED_cl_i[0]_LC_91)
set_location p_vLED_cl_i[0] 9 4 2 # SB_DFFE (LogicCell: p_vLED_cl_i[0]_LC_91)
set_location p_vLED_obuft_RNO[0] 12 5 3 # SB_LUT4 (LogicCell: p_vLED_obuft_RNO[0]_LC_92)
set_location p_vLED_obuft_RNO[1] 11 5 0 # SB_LUT4 (LogicCell: p_vLED_obuft_RNO[1]_LC_93)
set_location p_vLED_obuft_RNO[2] 11 6 5 # SB_LUT4 (LogicCell: p_vLED_obuft_RNO[2]_LC_94)
set_location p_vLED_obuft_RNO[3] 11 4 5 # SB_LUT4 (LogicCell: p_vLED_obuft_RNO[3]_LC_95)
set_location p_vLED_obuft_RNO[4] 11 4 3 # SB_LUT4 (LogicCell: p_vLED_obuft_RNO[4]_LC_96)
set_location p_vLED_obuft_RNO[5] 12 3 6 # SB_LUT4 (LogicCell: p_vLED_obuft_RNO[5]_LC_97)
set_location p_vLED_obuft_RNO[6] 12 2 3 # SB_LUT4 (LogicCell: p_vLED_obuft_RNO[6]_LC_98)
set_location p_vLED_obuft_RNO[7] 9 2 4 # SB_LUT4 (LogicCell: p_vLED_obuft_RNO[7]_LC_99)
set_location p_vLED_obuft_RNO[8] 11 2 7 # SB_LUT4 (LogicCell: p_vLED_obuft_RNO[8]_LC_100)
set_location p_vLED_obuft_RNO[9] 9 1 2 # SB_LUT4 (LogicCell: p_vLED_obuft_RNO[9]_LC_101)
set_location vIndex_RNI48VQ1[3] 9 6 2 # SB_LUT4 (LogicCell: vIndex_RNI48VQ1[3]_LC_102)
set_location vIndex_RNIUK6M[3] 9 6 0 # SB_LUT4 (LogicCell: vIndex_RNIUK6M[3]_LC_103)
set_location vIndex_RNO[0] 9 6 3 # SB_LUT4 (LogicCell: vIndex[0]_LC_104)
set_location vIndex[0] 9 6 3 # SB_DFF (LogicCell: vIndex[0]_LC_104)
set_location vIndex_RNO[1] 8 6 1 # SB_LUT4 (LogicCell: vIndex[1]_LC_105)
set_location vIndex[1] 8 6 1 # SB_DFF (LogicCell: vIndex[1]_LC_105)
set_location un1_vIndex_2_cry_1_c 8 6 1 # SB_CARRY (LogicCell: vIndex[1]_LC_105)
set_location vIndex_RNO[2] 8 6 2 # SB_LUT4 (LogicCell: vIndex[2]_LC_106)
set_location vIndex[2] 8 6 2 # SB_DFF (LogicCell: vIndex[2]_LC_106)
set_location un1_vIndex_2_cry_2_c 8 6 2 # SB_CARRY (LogicCell: vIndex[2]_LC_106)
set_location vIndex_RNO[3] 8 6 3 # SB_LUT4 (LogicCell: vIndex[3]_LC_107)
set_location vIndex[3] 8 6 3 # SB_DFF (LogicCell: vIndex[3]_LC_107)
set_location hIndex_RNI6JO41_1_p_hLED_cl_11_i_0_REP_LUT4_0 12 9 4 # SB_LUT4 (LogicCell: p_hLED_cl_11_i[0]_LC_108)
set_location p_hLED_cl_11_i[0] 12 9 4 # SB_DFFE (LogicCell: p_hLED_cl_11_i[0]_LC_108)
set_location GND -1 -1 -1 # GND
set_io p_clk12_ibuf_gb_io 0 8 1 # ICE_GB_IO
set_io p_hLED_obuft[0] 13 7 1 # ICE_IO
set_io p_hLED_obuft[1] 13 8 0 # ICE_IO
set_io p_hLED_obuft[10] 13 13 1 # ICE_IO
set_io p_hLED_obuft[11] 13 14 0 # ICE_IO
set_io p_hLED_obuft[12] 13 14 1 # ICE_IO
set_io p_hLED_obuft[13] 13 15 0 # ICE_IO
set_io p_hLED_obuft[14] 13 15 1 # ICE_IO
set_io p_hLED_obuft[2] 13 8 1 # ICE_IO
set_io p_hLED_obuft[3] 13 9 0 # ICE_IO
set_io p_hLED_obuft[4] 13 9 1 # ICE_IO
set_io p_hLED_obuft[5] 13 11 0 # ICE_IO
set_io p_hLED_obuft[6] 10 0 1 # ICE_IO
set_io p_hLED_obuft[7] 13 12 0 # ICE_IO
set_io p_hLED_obuft[8] 10 0 0 # ICE_IO
set_io p_hLED_obuft[9] 13 13 0 # ICE_IO
set_io p_vLED_obuft[0] 13 7 0 # ICE_IO
set_io p_vLED_obuft[1] 13 6 1 # ICE_IO
set_io p_vLED_obuft[2] 13 6 0 # ICE_IO
set_io p_vLED_obuft[3] 13 4 1 # ICE_IO
set_io p_vLED_obuft[4] 13 4 0 # ICE_IO
set_io p_vLED_obuft[5] 13 3 1 # ICE_IO
set_io p_vLED_obuft[6] 13 2 1 # ICE_IO
set_io p_vLED_obuft[7] 13 2 0 # ICE_IO
set_io p_vLED_obuft[8] 13 1 1 # ICE_IO
set_io p_vLED_obuft[9] 13 1 0 # ICE_IO
set_location CONSTANT_ONE_LUT4 12 5 4 # SB_LUT4 (LogicCell: LC_109)
